<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine on

    # Send request via index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
	
	<FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css)$">
		Header set Access-Control-Allow-Origin "*"
	</FilesMatch>

</IfModule>